<section class="footer py-5">
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 head">
                <h3 class="title">Foodie</h3>
                <img src="../../assets/photos/Sonya-Swarm-Fast-Food.ico" alt="">
                <h3 class="title">Order Now</h3>
            </div>


            <div class="col-md-3 mt-2">
                <div class="box">
                    <ul class="social">
                        <li><h5 class="title">Follow us</h5></li>
                      <li><i class="fa-brands fa-facebook"></i><a class="fake" >www.facebook/foodie.com</a></li>
                      <li><i class="fa-brands fa-youtube"></i><a class="fake" >www.youtube/foodie.com</a></li>
                      <li><i class="fa-brands fa-instagram"></i><a class="fake" >www.instagram/foodie.com</a></li>
                      <li><i class="fa-brands fa-twitter"></i><a class="fake" >www.twitter/foodie.com</a></li>
                    </ul>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <ul class="links">
                      <li><h5 class="title">our Branches</h5></li>
                      <li><a href="#">Cairo</a></li>
                      <li><a href="#">New York</a></li>
                      <li><a href="#">Madrid</a></li>
                      <li><a href="#">Milano</a></li>
                    </ul>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <ul class="links">
                      <li><h5 class="title">Call us</h5></li>
                      <li><a href="#">+20 123 456 789</a></li>
                      <li><a href="#">+46 123 456 789</a></li>
                      <li><a href="#">+77 123 456 789</a></li>
                      <li><a href="#">+55 123 456 789</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="right">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owner pt-5">
          <span class="text-white ">© Copy Right</span><h5 class="title ml-2">  Abdalla Magdy</h5>
        </div>
      </div>
    </div>
  </div>

</section>
