<header class="mb-5">

    <div class="main">

        <div class="layer">

            <div class="container ">
                <h1 class="cw my-5 foodie ">Foodie</h1>
                <h2 class="cw mt-3 maFont ">Best <span class="cb">Quality</span> </h2>
                <h2 class="cb mb-3 maFont "><span class="cw mx-1">Best</span>Price</h2>

                

            </div>

        </div>

    </div>
</header>


<section class="my-5">

    <h2 class="text-center my-5 title">About Us</h2>
    
   <div class="container">
       <div class="row">

           <div class="col-md-5 mt-5">

               <div class="content my-5">
                   <h5>Foodie</h5>
                   <h2 class="cb maFont">Welcome to Foodie World</h2>
                   <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, saepe a culpa dolorum temporibus odit iure aliquid deleniti. Magnam, est.</p>
                   <button class="btn">see more </button>
               </div>
           </div>

           <div class="col-md-1"></div>

           <div class="col-md-6">
               <div class="myimg my-5">
                   <img class="w-100" src="../../assets/photos/about-1.jpg" alt="">
               </div>
           </div>
       </div>
   </div>

</section>


<section class="my-2">
    
    <div class="container">
        <div class="row">
 
            <div class="col-md-6">
                <div class="myimg my-5">
                    <img class="w-100" src="../../assets/photos/1.jpg.jpg" alt="">
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5 mt-5">
 
                <div class="content my-5">
                    <h5>Foodie</h5>
                    <h2 class="cb maFont">Welcome to Foodie World</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptates nisi eius officiis earum molestias ullam maxime, doloremque voluptatum dolores.</p>
                    <button class="btn">see more </button>
                </div>
            </div>
 
        </div>
    </div>
 
 </section>